.nav-logo{
  width: 55px;
  height: 50px;
  border-radius: 100%;
}

.navnav{
  background-color: #000000;
  position: relative;
  z-index: 3;
}

.nav-title{
  padding-left:5px;
  font-weight: bolder;
}

.nav-menu{
  margin: auto;
  font-size: 18px;
}

.nav-login{
  padding-left: 8px;
  font-weight: bold;
}


header {
  position: relative;
  background-color: black;
  height: auto;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.70;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.90;
  z-index: 1;
}

.full-logo{
  width: 350px;
  height: 350px;
  border-radius: 100%;
  opacity: 0.80;
}

.display-4{
  font-weight: bolder;
  color: #23A0A0;
}

.special-alphabets{
  font-size: 130%;
  color: #D3D7D8;
}

.Ait-logo{
  width: 100px;
  height: 100px;
  margin-bottom: 5%;
}

#about-us{
  background-color: #000000;
  height: 650px;
  text-align: center;
  z-index: 0;
}

.about{
  color: #D3D7D8;
  font-size: 78px;
  padding-top: 500px;
}

.about-content{
  line-height: 1.3;
  font-size: 26px;
  color: #23A0A0;
  z-index: 1;
  font-weight: 500;
  height: auto;
}

.about-total{
  width: 100%;
  position: absolute;
  top: 70px;
  text-align: center;
  margin: auto;
}

.as{
  height: 245px;
  margin: auto;
}

.coming-soon{
  color: #D3D7D8;
  font-size: 78px;
}
.coming-soon-heading{
  text-align: center;
  padding-top: 40px;
}

.poster{
  display: flex;
  align-items: center;
}
.poster a{
  display: flex;
  align-items: center;
  margin: auto;
}
.poster img{
  width: 380px;
  height: auto;
  margin:auto;
}

.coming-soon-div{
  overflow-x: hidden;
  margin-top: 2%;
}
.sticky-logo{
  z-index: 0;
  height: 500px;
  border-radius: 100%;
  opacity: 0.09;
  position: sticky;
  width: 520px;
  top:90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rest-body{
  background-color: #000000;
}

.event-name{
  font-size: 60px;
  color: #23A0A0;
  letter-spacing:2px;
  font-weight: 600;
}

.coming-button{
  padding-right:5px; 
}

.coming-button-register{
  font-size: 50px;
}

.coming-content{
  text-align: center;
}

.fa-medal{
  color: yellow;
}

.testimonials-heading{  
  color: #D3D7D8;
  font-size: 78px;
}
.testimonials-heading-div{
  text-align: center;
  margin-top: 5%;
}

.ap-sir{
  height: 250px;
  width: 250px;  
  border-radius: 100%;
  border:solid;
  border-color: #23A0A0;
  padding: 12px;
  border-width: 9px;
  margin-top: 15px;
}

.testimonials-div{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 5%;
}

.quotations{
  font-size: 35px;
  color: #23A0A0;
}

.testimonials-content{
  color: #23A0A0;
  font-size: 17px; 
  width: 90%;
  margin-left: 5%;
}
 
 .carousel-indicators{
  position: relative;
  margin-top: 2%;
 }

 .boody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-body {
  position: relative;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.project-body .card {
  position: relative;
  width: 370px;
  height: 295px;
  background: #23A0A0;
  margin: 30px;
  padding: 20px 15px;
  
}

.project-body .card .imgBx {
  position: relative;
  width: 260px height:280px;
  text-align: center;
  left: 30px;
  top: 5px;
  z-index: 1;
  background: #D3D7D8;

}


.project-body .card:hover {
  height: 610px;
  width: 750px;
  background-color: black;

}


.project-body .card .content {
  position: relative;
  margin-top: -100px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.project-body .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 20px;
  transition-delay: 0.3s;
}

.project-body .card-boy:hover {
  height: 710px;
  width: 750px;
  background-color: black;
}


.contact-div{
  background-color: #23A0A0;
  color: black;
  overflow-x: hidden;
  margin-top: 5%;
}

.contact-heading-us{
  font-size: 50px;
}
.contact-heading-div{
  text-align: center;
}

.contact-individual{
  padding-left: 2%;
  padding-top: 5%;
}

.contact-img{
  padding-right: 3%;
}

.contact-individual-heading{
text-align: center;
font-weight: bolder;
font-size: 20px;
}

.contact-row{
  margin-top: 50px;
}
.contact-row a{
  text-decoration: none;
  color: black;
}



.form-body{
  width: 410px;
  height: 520px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin:auto;
}

.modal-content{
  background:transparent !important;
  border-width: 0 !important;
  width: 0;
  height: 0;
}

.contact-heading {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

.contact-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

.contact-input:focus {
  border-bottom: 2px solid #78788c
}

.contact-label:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

.contact-send {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s;
}

.contact-send:hover {
  background: #78788c;
  color: #fff
}

.copyright{
  text-align: center;
  font-weight: bolder;
  margin-top: 3%;
}

@media (max-width:990px){
  .sticky-logo{
  z-index: 0;
  height: 500px;
  border-radius: 100%;
  opacity: 0.09;
  position: sticky;
  width: 520px;
  top:33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-link{
  font-size: 30px;
}
.navbar-brand{
  font-size: 50px;
}

.coming-soon-div{
  margin-top:15%;
}

.as{
  height: 325px;
  margin: auto;
}

.project-body .card:hover {
  height: 800px;
}

.contact-row{
  font-size: 20px;
}

.download-font{
  font-size: 25px;
}

.testimonials-div{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 9%;
}

.coming-button-register{
  font-size: 35px;
}

}
