body {
  background-color: #000000;
}
.nav-logo{
  width: 55px;
  height: 50px;
  border-radius: 100%;
}

.navnav{
  background-color: #000000;
  position: relative;
  z-index: 3;
}

.nav-title{
  padding-left:5px;
  font-weight: bolder;
}

.nav-menu{
  margin: auto;
  font-size: 18px;
}

.nav-login{
  padding-left: 8px;
  font-weight: bold;
}


header {
  position: relative;
  background-color: black;
  height: auto;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.70;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.90;
  z-index: 1;
}

.full-logo{
  width: 350px;
  height: 350px;
  border-radius: 100%;
  opacity: 0.80;
}

.display-4{
  font-weight: bolder;
  color: #23A0A0;
}

.special-alphabets{
  font-size: 130%;
  color: #D3D7D8;
}

.Ait-logo{
  width: 100px;
  height: 100px;
  margin-bottom: 5%;
}

#about-us{
  background-color: #000000;
  height: 650px;
  text-align: center;
  z-index: 0;
}

.about{
  color: #D3D7D8;
  font-size: 78px;
  padding-top: 500px;
}

.about-content{
  line-height: 1.3;
  font-size: 26px;
  color: #23A0A0;
  z-index: 1;
  font-weight: 500;
  height: auto;
}

.about-total{
  width: 100%;
  position: absolute;
  top: 70px;
  text-align: center;
  margin: auto;
}

.as{
  height: 245px;
  margin: auto;
}

.coming-soon{
  color: #D3D7D8;
  font-size: 78px;
}
.coming-soon-heading{
  text-align: center;
  padding-top: 40px;
}

.poster{
  display: flex;
  align-items: center;
}
.poster a{
  display: flex;
  align-items: center;
  margin: auto;
}
.poster img{
  width: 380px;
  height: auto;
  margin:auto;
}

.coming-soon-div{
  overflow-x: hidden;
  margin-top: 2%;
}
.sticky-logo{
  z-index: 0;
  height: 500px;
  border-radius: 100%;
  opacity: 0.09;
  width: 520px;
  top:90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rest-body{
  background-color: #000000;
  z-index: -1;

}


form{
 
  position: relative;
  }
form header {
 
  margin: 0 0 20px 0; 

}

form header h2 {
  margin: 0 0 5px 0;
  text-align: center;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  color: #23A0A0;
  font-size: 20px;
  width: 25%;
  float: left;
  padding-right: 10px;
 font-family: "Baumans";}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
   font-family: "Baumans";
}

form > div > fieldset label {
  font-size: 95%;
}
fieldset {
  border: 0;
  padding: 0;
}
.choice:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.choice input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.choice input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.choice .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#register_btn{
  width: 52%;
   margin: 0 0 20px 0;
    opacity: 0.6;
  transition: 0.3s;
  cursor: pointer; 
   background-color:#23A0A0;
   border-radius: 2px;
}
#register_btn:hover {opacity: 1}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 50%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
  legend {
    text-align: right;
  }
}


.event-name{
  font-size: 60px;
  color: #23A0A0;
  letter-spacing:2px;
  font-weight: 600;
}

.coming-button{
  padding-right:5px; 
}

.coming-button-register{
  font-size: 50px;
}

.coming-content{
  text-align: center;
}

.fa-medal{
  color: yellow;
}

.testimonials-heading{  
  color: #D3D7D8;
  font-size: 78px;
}
.testimonials-heading-div{
  text-align: center;
  margin-top: 5%;
}

.ap-sir{
  height: 250px;
  width: 250px;  
  border-radius: 100%;
  border:solid;
  border-color: #23A0A0;
  padding: 12px;
  border-width: 9px;
  margin-top: 15px;
}

.testimonials-div{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 5%;
}

.quotations{
  font-size: 35px;
  color: #23A0A0;
}

.testimonials-content{
  color: #23A0A0;
  font-size: 17px; 
  width: 90%;
  margin-left: 5%;
}
 
 .carousel-indicators{
  position: relative;
  margin-top: 2%;
 }

 .boody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-body {
  position: relative;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.project-body .card {
  position: relative;
  width: 370px;
  height: 295px;
  background: #23A0A0;
  margin: 30px;
  padding: 20px 15px;
  
}

.project-body .card .imgBx {
  position: relative;
  width: 260px ;
  height:280px;
  text-align: center;
  left: 30px;
  top: 5px;
  z-index: 1;
  background: #D3D7D8;

}


.project-body .card:hover {
  height: 610px;
  width: 750px;
  background-color: black;

}


.project-body .card .content {
  position: relative;
  margin-top: -100px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.project-body .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 20px;
  transition-delay: 0.3s;
}

.project-body .card-boy:hover {
  height: 710px;
  width: 750px;
  background-color: black;
}


.contact-div{
  background-color: #23A0A0;
  color: black;
  overflow-x: hidden;
  margin-top: 5%;
}

.contact-heading-us{
  font-size: 50px;
}
.contact-heading-div{
  text-align: center;
}

.contact-individual{
  padding-left: 2%;
  padding-top: 5%;
}

.contact-img{
  padding-right: 3%;
}

.contact-individual-heading{
text-align: center;
font-weight: bolder;
font-size: 20px;
}

.contact-row{
  margin-top: 50px;
}
.contact-row a{
  text-decoration: none;
  color: black;
}



.form-body{
  width: 410px;
  height: 520px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin:auto;
}

.modal-content{
  background:transparent !important;
  border-width: 0 !important;
  width: 0;
  height: 0;
}

.contact-heading {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

.contact-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

.contact-input:focus {
  border-bottom: 2px solid #78788c
}

.contact-label:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

.contact-send {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s;
}

.contact-send:hover {
  background: #78788c;
  color: #fff
}

.copyright{
  text-align: center;
  font-weight: bolder;
  margin-top: 3%;
}

@media (max-width:990px){
  .sticky-logo{
  z-index: 0;
  height: 500px;
  border-radius: 100%;
  opacity: 0.09;
 
  width: 520px;
  top:33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-link{
  font-size: 30px;
}
.navbar-brand{
  font-size: 50px;
}

.coming-soon-div{
  margin-top:15%;
}

.as{
  height: 325px;
  margin: auto;
}

.project-body .card:hover {
  height: 800px;
}

.contact-row{
  font-size: 20px;
}

.download-font{
  font-size: 25px;
}

.testimonials-div{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 9%;
}

.coming-button-register{
  font-size: 35px;
}

}
/*Form*/
.registration{
/*
 background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);*/
padding: 0 10px;
font-family: 'Poppins', sans-serif;

}
.img-container{
  text-align: center;
  
  position: absolute;
  top: 365px;
  left: 50%;
  transform: translateX(-50%);

}
.login{
max-width: 500px;
width: 150%;

padding: 10px 10px;
font-family: 'Poppins', sans-serif;
margin: 50px auto;
padding: 30px;

position: absolute;
top: 8%;
left: 50%;
transform: translateX(-50%);
}

.login .title{
font-size: 24px;
font-weight: 700;
margin-bottom: 25px;
color: #a1c4fd;
text-transform: uppercase;
text-align: center;
}

.login .form{
width: 100%;
}

.login .form .input-div{
margin-bottom: 15px;
display: flex;
align-items: center;
}

.login .form .input-div label{
 width: 200px;
 color: white;
 margin-right: 10px;
font-size: 16px;
}

.login .form .input-div .input,
.login .form .input-div .textarea{
width: 100%;
outline: none;
border: 1px solid #d5dbd9;
font-size: 15px;
padding: 8px 10px;
border-radius: 3px;
transition: all 0.3s ease;
}

.login .form .input-div .textarea{
width: 100%;
height: 125px;
resize: none;
}

.login .form .input-div .custom_select{
position: relative;
width: 100%;
height: 37px;
}

.login .form .input-div .custom_select:before{
content: "";
top: 12px;
right: 10px;
border: 8px solid;
border-color: #d5dbd9 transparent transparent transparent;
pointer-events: none;
}

.login .form .input-div .custom_select select{
-webkit-appearance: none;
-moz-appearance:   none;
appearance:        none;
outline: none;
width: 100%;
height: 100%;
border: 0px;
padding: 8px 10px;
font-size: 15px;
border: 1px solid #d5dbd9;
border-radius: 3px;
}


.login .form .input-div .input:focus,
.login .form .input-div .textarea:focus,
.login .form .input-div .custom_select select:focus{
border: 1px solid #a1c4fd;
}

.login .form .input-div p{
font-size: 14px;
color: white;
}
.login .form .input-div .check{
width: 15px;
height: 15px;
position: relative;
display: block;
cursor: pointer;
}
.input-div fieldset {
color: #6c9dec;
text-align: center;
margin: auto;
display: flex;
flex-direction: column;
font-size: 20px;
padding: 0 100px;
border: none;
font-weight: 500;

}
.checkbox-div{
flex: row;
justify-content: space-between;
}

.login .form .input-div .check input[type="checkbox"]{
position: absolute;
top: 0;
left: 0;
opacity: 0;
}
.login .form .input-div .check .checkmark{
width: 15px;
height: 15px;
border: 1px solid #a1c4fd;
display: block;
position: relative;
}
.login .form .input-div .check .checkmark:before{
content: "";
position: absolute;
top: 1px;
left: 2px;
width: 5px;
height: 2px;
border: 2px solid;
border-color: transparent transparent #fff #fff;
transform: rotate(-45deg);
display: none;
}
.login .form .input-div .check input[type="checkbox"]:checked ~ .checkmark{
background: #a1c4fd;
}

.login .form .input-div .check input[type="checkbox"]:checked ~ .checkmark:before{
display: block;
}

.login .form .input-div .btn{
width: 100%;
padding: 8px 10px;
font-size: 15px; 
border: 0px;
background:  #4e8ef5;
color: #fff;
cursor: pointer;
border-radius: 3px;
outline: none;
}

.login .form .input-div .btn:hover{
background: #62c9f8;
}

.login .form .input-div:last-child{
margin-bottom: 0;
}

@media (max-width:420px) {
.login .form .input-div{
flex-direction: column;
align-items: flex-start;
}
.login .form .input-div label{
margin-bottom: 5px;
}
.login .form .input-div.terms{
flex-direction: row;
}
}